<!-- start foot-left -->
<div class="footer-des-ver hidden-xs hidden-sm" data-ng-controller="Core"> 
	<div class="foot-left">
		<a href="javascript:;" class="logo-foot">
			<img class="logo-desk" src="i/des/logo-foot.png" alt="IMG">
			<img class="logo-ipad" src="i/ipad/logo-foot.png" alt="IMG">
		</a>
		<div class="intro-company">
			<span class="about-name">{{addressData.name}}</span>
			<span class="about-address">{{addressData.address}}</span>
			<span class="about-email">{{addressData.email}}</span>
		</div>
		<!-- end /intro-company -->
	</div>
	<!-- end /foot-left -->

	<div class="foot-right ">
		<span class="double-pp">SG Windows &copy; 2016 Privacy Policy</span>
		<div class="group-icons">
			<a href="javascript:;" class="icon-sociall"><span class="icons fb"></span></a>
			<a href="javascript:;" class="icon-sociall"><span class="icons google"></span></a>
			<a href="javascript:;" class="icon-sociall last"><span class="icons youtube"></span></a>
			<div class="clear"></div>
		</div>
		<span class="hotline">HOTLINE</span>
		<span class="call-me"><i class="icons icon-phone"></i>{{addressData.phones}}</span>
	</div>
	<!-- end /foot-right -->
	<div class="clear"></div>
</div>
<div class="mobi-footer visible-xs visible-sm">
	<img class="icon-mobi-footer" src="i/mobi/logo-foot.png" alt="IMG"></img>
</div>